*.d.ts
*.log
*.map
*.tsbuildinfo
.DS_Store
coverage/
node_modules/
test/jsx-*.js
yarn.lock
!/lib/automatic-runtime-html.d.ts
!/lib/automatic-runtime-svg.d.ts
!/lib/jsx-automatic.d.ts
!/lib/jsx-classic.d.ts
